.switchery {
    &.switchery-default {
        height: 32px !important;
    }

    &.switchery-small {
        height: 22px !important;
    }

    &.switchery-large {
        height: 42px !important;
    }
}